@import 'settings';

$header-top-margin: 0rem;
$header-font-family: 'SourceSansPro-Regular', sans-serif;
$h1-font-size: rem-calc(32);
$h2-font-size: rem-calc(30);

@font-face {
    font-family: SourceSansPro-Light;
    src: url('../fonts/SourceSansPro-Light.ttf');
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: SourceSansPro-Semibold;
    src: url('../fonts/SourceSansPro-Semibold.ttf');
}

@import 'foundation';

body {
    background-color: transparent;
}

.teaser-container {
    position: relative;
    background: darkgrey;
    overflow: hidden;
    min-height: 500px;
    max-height: 500px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    text-shadow: 1px 1px 2px #000;
    -webkit-box-shadow: 0px 5px 50px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 50px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 50px -9px rgba(0,0,0,0.75);

    h1,
    h2 {
        //text-align: block;
        z-index: 2;
        position: relative;
        color: #fff;
        padding-top: .5rem;
    }

    h2 {
        font-weight: 300;
    }

    h1 {
        font-family: 'SourceSansPro-Semibold', serif;
        font-weight: 700;
        text-transform: uppercase;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        height: auto;
        z-index: 1;
        opacity: 1;
        min-height: 100%;
        min-width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
}


.owl-carousel {
    background-color: transparent;
}

.owl-stage {
    padding: 50px 0;
}

// Article View
.article-container {
    background-color: transparent;
    color: white;

    img {
        display: block;
        max-width:100%;
        height: auto;
        margin: 0 auto;
    }

    h1 {
        margin: .5rem 1.5rem;
        color: white;
    }

    p {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

.challenge-result-container {
    padding: 40px 30px 0;
    background-color: grey;
    color: #fff;

    h1 {
        font-family: 'SourceSansPro-Semibold', serif;
        font-weight: 700;
        text-transform: uppercase;
        // color: #fff;
    }

    h2 {
        font-weight: 300;
        //color: #fff;
    }

    ul {
        margin: 0;
        text-align: center;
        list-style: none;
    }

    .polar-chart {
        margin: 0 auto;
        display: block;
    }

    .results {
        display: table;
        width: 100%;
    }

    .article-chart,
    .article-description
    {
        display: table-cell;
    }

    .article-description {
        padding-left: 1rem;
        vertical-align: middle;
        width: 70%;
    }

    .polararea-legend {
        font-size: 12px;
        padding-top: 0.75rem;
        width: 30%;
    }

    .challenge {
        padding-bottom: 1rem;
    }

    .legende {
        //border-bottom: 1px solid grey;
        padding-bottom: 3rem;

    }

    .legende:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

}